.rectangle-3{
    background-color: #304268;
    color: white;
    font-size: 15px;
}
.book{
    font-family: roboto;
    font-size: 16px;
    margin-block: 7px;
    text-align: center;
    padding-block: 8%;
}
.redes{
    font-size: 16px;
    text-align: center;
    font-family: roboto;
}
.end{
    text-align: center;
    font-family: roboto;
    margin-block: 5%;
    padding-block: 13px;
    font-size: 15px;
}