
.rectangle-2{
    background-color: #eff9ff;
    display: block;

}
.reasons{
    font-family: Roboto ;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #000000;
    padding-top: 50px;
    margin: 0px;
}
.container-three{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
    padding-block: 3px;
}
.more{
    padding-block: 3%;
    background-color: #f26002;
    color: white;
    border: 0px;
    border-radius:18%;
}







  