.rectangle{
    width: auto;
    background-color: #ffffff;
    margin-block: 5%;
}
.tips{
    color: cornflowerblue;
}
.looking{
    font-size: 30px;
    text-align: left;

}
.donec{
    font-size: 18px;
}
.button{
    color: darkorange;
    border-color: darkorange;
    background-color: white;
    font-size: 21px;
    border-radius: 16%;
    padding-bottom: 4px;
    border: solid;
}