.rectangle{
    width: auto;
    background-color: #ffffff;
    padding: 30px;
}
.tips{
    color: cornflowerblue;
}
.looking{
    font-size: 30px;
    text-align: left;

}
.donec{
    font-size: 18px;
}
.button{
    color: darkorange;
    border-color: darkorange;
    background-color: white;
    font-size: 21px;
    border-radius: 20px;
    border: solid 3px;
    margin-block: 1em;
    padding: 10px 30px;
}
