<section class="rectangle-2">
    <h1 class="reasons">3 Reasons To Purchase</h1>
    <article class="container-three">
        <div class="first-box">
            <div class="set">
                <h3><strong>Ut sed metus</strong></h3>
                <p class="lorem">Lorem ipsum dolor sit amet, consecteteu</p>
            </div>
        </div>
        <div class="second-box">
            <div class="curabi">
                <h3><strong>Curabitur ac erat</strong></h3>
                <p class="Mauris">Mauris mattis urna quis lorem molestie.</p>
            </div>
        </div>
        <div class="third-box">
            <div class="dictum">
                <h3><strong>Morbi dictum</strong></h3>
                <p class="lorem">Aliquam in dolor et dolor tincidunt.</p>
            </div>
        </div>

    </article>
    <div class="more">
        <button> More reasons</button>
    </div>
    <div class="arrow">
        <button> <img src="../public/images/ico-arrow.svg" alt=""></button>
    </div>

</section>