<footer>
    <section class="rectangle-3">
        <article class="book">
            <ul>
                <li><a href="https://adalab.es/" target="_blank">ARTICLES</a></li>
            </ul>
            <ul>
                <li>BOOKS</li>
            </ul>
            <ul>
                <li>EVENTS</li>
            </ul>
            <ul>
                <li>REASONS</li>
            </ul>
            <ul>
                <li>TIPS</li>
            </ul>
        </article>
        <article class="network">
            <ul>
                <li>TWITTER</li>
            </ul>
            <ul>
                <li>INSTAGRAM</li>
            </ul>
            <ul>
                <li>MASTODON.SOCIAL</li>
            </ul>

        </article>

        <article class="end">
            <ul>
                <li>&copy;2022</li>
                <li>We 🧡 components</li>
            </ul>
        </article>

    </section>

</footer>