<footer>
    <section class="rectangle-3">
        <article class="book">
            <ul>
                <il>ARTICLES</il>
            </ul>
            <ul>
                <il>BOOKS</il>
            </ul>
            <ul>
                <il>EVENTS</il>
            </ul>
            <ul>
                <il>REASONS</il>
            </ul>
            <ul>
                <il>TIPS</il>
            </ul>
        </article>
        <article class="redes">
            <ul>
                <il>TWITTER</il>
            </ul>
            <ul>
                <il>INSTAGRAM</il>
            </ul>
            <ul>
                <il>MASTODON.SOCIAL</il>
            </ul>

        </article>

        <article class="end">
            <div>
                <h4>&copy;2022</h4>
                <p>We 🧡 components</p>
            </div>
        </article>

    </section>

</footer>